body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  min-height: 100vh; /* Full viewport height */
  width: 100%;
}

.App__button {
  display: none; /* Hide button on large screens */
  z-index: 100; /* Ensure it is above other content */
  position: absolute; /* Adjust positioning if needed */
  background-color: rgb(238, 235, 235);
  right: 0;
  top: 0;
}

.App__button:hover {
  background-color: #cac9c9;
}

.App .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5; /* Ensure it's below the nav but above other content */
}

.nav__hide {
  display: none;
}

.App nav {
  flex: 1;
  max-width: 240px; /* Adjust based on your preference */
  border-right: 1px solid #000000; /* A subtle border between nav and content */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enables scrolling if items exceed the view height */
  z-index: 6;
}

.App nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App nav li {
  padding: 10px 20px;
  border-bottom: 1px solid #000000; /* Light border for separation */
  background-color: rgb(238, 235, 235);
}

.App nav a {
  text-decoration: none;
  color: #333;
  display: block; /* Make the entire list item area clickable */
}

.App nav li:hover {
  background-color: #cac9c9;
}

.App main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal centering */
  flex: 4;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  max-width: 800px;
  margin-left: auto; /* Centers the main content horizontally */
  margin-right: auto; /* Centers the main content horizontally */
}

@media (max-width: 768px) {
  .App nav {
    max-width: 100%;
    height: auto;
  }

  .App__button {
    display: block; /* Show button on small screens */
  }
}
